/**
 * Alv theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * Martin Klingenberg
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #061838;

$mainColor: #fff;
$headingColor: #eabb26;

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;

$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

$alvYellow: #eabb26;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  .slide-background {
    background: linear-gradient(
      48deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(6, 24, 56, 0.95) 35%,
      rgba(26, 57, 112, 1) 100% /*TODO: Maybe add less background image*/
    );
  }
}

.reveal h3,
.reveal h4,
.reveal h5 {
  color: $alvYellow;
}

.reveal {
  h3,
  h4,
  h5 {
    color: $alvYellow;
    text-transform: none;
  }
}

.reveal h1,
.reveal h2 {
  color: #fff;
  margin-bottom: 30px;
}

.alvlogo {
  position: absolute;
  top: 16px;
  right: 16px;

  embed {
    height: 4vw;
  }
}

.jakobs-onske {
  h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    margin-bottom: 4px;
  }
  .mest {
    font-weight: 600;
  }
}

.reveal .underline {
  margin-bottom: 50px;
}

.dot {
  color: $alvYellow;
  font-family: serif;
  line-height: 0px;
  margin-left: -2px;
  font-weight: bold;
}

.underline::after {
  content: "";
  width: 33%;
  height: 5px;
  background-color: $alvYellow;
  display: block;
  margin-bottom: 20px;
  position: absolute;
  left: 33%;
  margin-top: -8px;
}

.launch-button {
  background-color: $alvYellow; /* Green */
  border: none;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #be950e;
  }
}

.emoji-list {
  padding-left: 0;
  margin-left: 0 !important;
}

/*
 * Pseudo-class dot
 * Pseudo-underline h1, noen ganger
 */
